@using NewBISReports.Models.Classes;
@model NewBISReports.Models.ImportVisitor.ImportVisitorModel;

@{
    NewBISReports.Models.ImportVisitor.DATATYPE type = NewBISReports.Models.ImportVisitor.DATATYPE.DT_IMPORTVISITOR;

    var title = NewBISReports.Models.ImportVisitor.ImportVisitorModel.GetTypeDescription(type);
    var titlecomment = NewBISReports.Models.ImportVisitor.ImportVisitorModel.GetTypeComments(type);

    if (ViewBag.Clients == null)
    {
        ViewBag.Clients = new List<Clients>();
    }
}

<form method="post" asp-action="Index" enctype="multipart/form-data" asp-controller="ImportVisitor" data-parsley-validate novalidate>
    <input type="hidden" value="@type" id="Type" name="Type" asp-for="Type" />

    <div class="row">
        <div class="col-md-4 ">
            <ul class="breadcrumb">
                <li><i class="fa fa-home"></i><a href="#">Home</a></li>
                <li class="active">@title</li>
            </ul>
        </div>
    </div>

    <!-- QUADRO GERAL -->
    <div class="widget">
        <div class="widget-header">
            <h3><i class="fa fa-book"></i>@title</h3> <em>- @titlecomment</em>
            <div class="btn-group widget-header-toolbar">
                <a href="#" id="tour-focus" title="Destaque" class="btn-borderless btn-focus"><i class="fa fa-eye"></i></a>
                <a href="#" title="Expand/Collapse" class="btn-borderless btn-toggle-expand"><i class="fa fa-chevron-up"></i></a>
                <a href="#" title="Remove" class="btn-borderless btn-remove"><i class="fa fa-times"></i></a>
            </div>
        </div>
        <!-- PERÍODO -->
        <div class="row">
            <div class="col-sm-12">
                <div class="widget">
                    <div class="widget-content">
                        <p>Selecione o arquivo CSV para importação:</p>
                        <input type="file" name="files" multiple>
                        <br />
                        <div class="gallery-buttons bottom-30px">
                            <button type="submit" class="btn"><i class="fa fa-upload"></i>Carregar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- FIM PERÍODO -->
        <!--
        INÍCIO DO CARD PESSOAS E UNIDADE --
        <div class="row">
            <div class="col-sm-6">
                <div class="widget widget-table">
                    <div class="widget-header">
                        <h3><i class="fa fa-home"></i>Unidades</h3>
                        <button type="button" class="btn btn-link" data-toggle="tooltip" data-placement="top" title="Informações das divisões e leitoras"><i class="fa fa-question-circle"></i></button>
                    </div>
                    <div class="widget-content">
                        <div class="row">
                            <!-- INICIO UNIDADE --
                            <fieldset>
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <div class="input-group input-group-sm">
                                            <label>Unidade:</label>
                                        </div>
                                        <select asp-for="CLIENTID" class="select2" name="CLIENTID" asp-controller="Home" asp-action="Index" onclick="form.submit();"
                                                asp-items="@(new SelectList(ViewBag.Clients, "CLIENTID", "Description"))"></select>
                                    </div>
                                </div>

                            </fieldset>
                            <!-- FIM UNIDADE --
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- FIM DO CARD UNIDADES-->
    </div>
</form>

<!-- Javascript Mínimo -->
<script src="~/KingAdmin/assets/js/jquery/jquery-2.1.0.min.js"></script>
<script src="~/KingAdmin/assets/js/bootstrap/bootstrap.js"></script>
<script src="~/KingAdmin/assets/js/plugins/modernizr/modernizr.js"></script>
<script src="~/KingAdmin/assets/js/plugins/bootstrap-tour/bootstrap-tour.custom.js"></script>

<!-- Javascript Datepicker -->
<script src="~/KingAdmin/assets/js/plugins/jquery-slimscroll/jquery.slimscroll.min.js"></script>
<script src="~/KingAdmin/assets/js/king-common.js"></script>
<script src="~/KingAdmin/assets/js/plugins/bootstrap-multiselect/bootstrap-multiselect.js"></script>
<script src="~/KingAdmin/assets/js/plugins/bootstrap-datepicker/bootstrap-datepicker.js"></script>
<script src="~/KingAdmin/assets/js/plugins/select2/select2.min.js"></script>

<!-- JQUERY -->
<script>
    $(function () {
        window.prettyPrint && prettyPrint();
        $('#StartDate').datepicker({
            format: 'dd/mm/yyyy'
        }).datepicker("setDate", document.getElementById('hidData_Start').defaultValue);;
        $('#StartDate').datepicker()
            .on('changeDate', function (ev) {
                $('#StartDate').datepicker('hide');
            });
    });

    $(function () {
        window.prettyPrint && prettyPrint();
        $('#EndDate').datepicker({
            format: 'dd/mm/yyyy'
        }).datepicker("setDate", document.getElementById('hidData_End').defaultValue);;
        $('#EndDate').datepicker()
            .on('changeDate', function (ev) {
                $('#EndDate').datepicker('hide');
            });
    });
</script>

