@model NewBISReports.Models.Excecao.ExcecaoModel;

@{
    ViewData["title"] = "Horizon - Módulo de Relatórios";

    REPORTTYPE type = REPORTTYPE.RPT_EXCEPTION;
    if (ViewBag.Type != null)
    {
        type = (REPORTTYPE)ViewBag.Type;
    }
    var title = NewBISReports.Models.HomeModel.GetTypeDescription(type);
    var titlecomment = NewBISReports.Models.HomeModel.GetTypeComments(type);
}

<form class="container" asp-action="Index" method="post" enctype="multipart/form-data" data-parsley-validate novalidate>
    <div class="row">
        <div class="col-md-4 ">
            <ul class="breadcrumb">
                <li><i class="fa fa-home"></i><a href="#">Home</a></li>
                <li class="active">@title</li>
            </ul>
        </div>
    </div>
    <div class="row justify-content-start">
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="widget">
                <div class="widget-header">
                    <h3><i class="fa fa-book"></i>@title</h3> <em>- @titlecomment</em>
                </div>
                <div class="widget-content">
                    <fieldset>
                        <div class="col-sm-12">
                            <div class="row justify-content-start">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <div class="form-row">
                                            <div class="col-12">
                                                <label for="file-input">Selecione o arquivo (.CSV)</label>
                                                <div class="file-loading">
                                                    <input id="file-input" type="file" asp-for="CSVFile">
                                                </div>
                                            </div>
                                            <button type="submit" name="btnnew" style="background-color: #888B8D;" class="btn" asp-controller="Excecao" asp-action="New">Gravar</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                            <div class="col-sm-12">
                                <div class="card">
                                    <div class="card-header">
                                    </div>
                                    <div class="table-responsive py-4">
                                        <table class="table table-striped" id="datatable" name="datatable">
                                            <thead class="thead-light">
                                                <tr>
                                                    <th scope="col" class="sort" data-sort="code">Nome</th>
                                                    <th scope="col" class="sort" data-sort="code">Data Inicio</th>
                                                    <th scope="col" class="sort" data-sort="code">Data Termino</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @if (Model != null && Model.personsExce != null && Model.personsExce.Count > 0)
                                            {
                                                foreach (NewBISReports.Models.Classes.Persons persons in Model.personsExce)
                                                {
                                                <tr>
                                                    <td>@persons.Nome</td>
                                                    <td>@persons.cmpDtInicio</td>
                                                    <td>@persons.cmpDtTermino</td>
                                                </tr>
                                                }
                                            }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                    </fieldset>
                </div>
            </div>
        </div>
    </div>
</form>
<!-- Javascript Mínimo -->
<script src="~/KingAdmin/assets/js/jquery/jquery-2.1.0.min.js"></script>
<script src="~/KingAdmin/assets/js/bootstrap/bootstrap.js"></script>
<script src="~/KingAdmin/assets/js/plugins/modernizr/modernizr.js"></script>
<script src="~/KingAdmin/assets/js/plugins/bootstrap-tour/bootstrap-tour.custom.js"></script>

<!-- Javascript Datepicker -->
<script src="~/KingAdmin/assets/js/plugins/jquery-slimscroll/jquery.slimscroll.min.js"></script>
<script src="~/KingAdmin/assets/js/king-common.js"></script>
<script src="~/KingAdmin/assets/js/plugins/bootstrap-multiselect/bootstrap-multiselect.js"></script>
<script src="~/KingAdmin/assets/js/plugins/bootstrap-datepicker/bootstrap-datepicker.js"></script>
<script src="~/KingAdmin/assets/js/plugins/select2/select2.min.js"></script>


<!-- JQUERY -->
<script>
    $(function () {
        window.prettyPrint && prettyPrint();
        $('#StartDate').datepicker({
            format: 'dd/mm/yyyy'
        }).datepicker("setDate", document.getElementById('hidData_Start').defaultValue);;
        $('#StartDate').datepicker()
            .on('changeDate', function (ev) {
                $('#StartDate').datepicker('hide');
            });
    });

    $(function () {
        window.prettyPrint && prettyPrint();
        $('#EndDate').datepicker({
            format: 'dd/mm/yyyy'
        }).datepicker("setDate", document.getElementById('hidData_End').defaultValue);;
        $('#EndDate').datepicker()
            .on('changeDate', function (ev) {
                $('#EndDate').datepicker('hide');
            });
    });
</script>