@using Newtonsoft.Json;
@using NewBISReports.Controllers.Config;
@using Microsoft.AspNetCore.Authorization
@using Microsoft.Extensions.Configuration;
@inject IAuthorizationService AuthorizationService


<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@ViewData["Title"]</title>
    <meta content="A fully featured admin theme which can be used to build CRM, CMS, etc." name="description" />
    <meta content="Coderthemes" name="author" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <!-- CSS -->
    <link href="~/KingAdmin/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="~/KingAdmin/assets/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="~/KingAdmin/assets/css/main.css" rel="stylesheet" type="text/css">
    <link href="~/KingAdmin/assets/css/my-custom-styles.css" rel="stylesheet" type="text/css">

    <!--[if lte IE 9]>
        <link href="~/assets/css/main-ie.css" rel="stylesheet" type="text/css"/>
        <link href="~/assets/css/main-ie-part2.css" rel="stylesheet" type="text/css"/>
    <![endif]-->
    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="~/assets/ico/kingadmin-favicon144x144.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="~/assets/ico/kingadmin-favicon114x114.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="~/assets/ico/kingadmin-favicon72x72.png">
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="~/assets/ico/kingadmin-favicon57x57.png">
    <link rel="shortcut icon" href="~/images/ico/orion_vetor_preto.png">

    <meta charset="utf-8" />
</head>

@{
    bool meal = true;
    string defaultname = "Orion";
    bool isLogin = false;
    //determianndo se tem login
    var config_alt = new ConfigurationBuilder()
        .AddJsonFile("appsettings.json", optional: false)
        .Build();
    //verifica para qual cliente está sendo configurado
    defaultname  = config_alt.GetSection("Default")["Name"];
    isLogin = bool.Parse(config_alt.GetSection(defaultname)["useLogin"]);
    defaultname = defaultname.ToLower();
    //Essa parte faz mais sentido para o HomeController
    if (TempData["ConfigSection"] != null)
    {
        var config = JsonConvert.DeserializeObject<BSConfig>(TempData["ConfigSection"].ToString());
        meal = config.Meal; 
        defaultname = config.DefaultName.ToLower();
       
    }

    //var url = "/HzBISReport";
}
<body class="sidebar-fixed topnav-fixed dashboard">
    <!-- WRAPPER -->
    <div id="wrapper" class="wrapper">
        <!-- TOP BAR -->
        <div class="top-bar navbar-fixed-top">
            <div class="container">
                <div class="clearfix">
                    <a href="#" class="pull-left toggle-sidebar-collapse"><i class="fa fa-bars"></i></a>
                    <!-- logo -->
                    <!-- end logo -->
                    <div class="pull-right right">
                        <!-- top-bar-right -->
                        <div class="top-bar-right">
                            <!-- logged user and the menu -->
                            @* <div class="logged-user">
                                <a href="#" class="btn btn-link dropdown-toggle" data-toggle="dropdown">
                                    <span class="name">AppUser</span> <span class="caret"></span>
                                </a>
                            </div> *@
                            @if(isLogin){
                                <partial name="_LoginPartial" />
                            }
                            
                            <!-- end logged user and the menu -->
                        </div>
                        <!-- end top-bar-right -->
                    </div>
                </div>
            </div>
            <!-- /container -->
        </div>
        <!-- END TOP BAR -->
        <!-- LEFT SIDEBAR -->
        <div id="left-sidebar" class="left-sidebar ">
            <!-- main-nav -->
            <div class="sidebar-scroll">
                <nav class="main-nav">
                    <ul class="main-menu">
                        <!-- Condicional para mostrar eventos de acesso -->
                        @if (isLogin && (await AuthorizationService.AuthorizeAsync(User, "AcessoAdmin")).Succeeded)
                        {
                            <li>
                                <a href="#" class="js-sub-menu-toggle">
                                    <i class="fa fa-cog fa-fw"></i><span class="text" style="opacity: 1;">Administração</span>
                                    <i class="toggle-icon fa fa-angle-left"></i>
                                </a>
                                <ul class="sub-menu ">
                                    <li>
                                        <a asp-controller="Administracao" asp-action="CreateUser">
                                            <i class="fa fa-user-plus fa-fw"></i>
                                            <span class="text" style="opacity: 1;">Adicionar Usuários</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a asp-controller="Administracao" asp-action="ResetUserPassword">
                                            <i class="fa fa-user fa-fw"></i>
                                            <span class="text" style="opacity: 1;">Alterar Senhas</span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        }
                        @if (!isLogin || (await AuthorizationService.AuthorizeAsync(User, "AcessoUsuario")).Succeeded)
                        {
                            @if( defaultname != "libraport"){
                            <li class="active">
                                <a href="#" class="js-sub-menu-toggle">
                                    <i class="fa fa-dashboard fa-fw"></i><span class="text">Eventos de Acesso</span>
                                    <i class="toggle-icon fa fa-angle-down"></i>
                                </a>
                                <ul class="sub-menu open">
                                    <li class="active"><a asp-controller="Home" asp-action="Index" asp-route-type="@NewBISReports.Models.REPORTTYPE.RPT_ANALYTICGRANTEDBIS"><span class="text">Eventos de Acesso</span></a></li>
                                    @if (meal)
                                    {
                                        <li><a asp-controller="Home" asp-action="Index" asp-route-type="@NewBISReports.Models.REPORTTYPE.RPT_ANALYTICSGENERAL"><span class="text">Acessos Analíticos - Geral</span></a></li>
                                        <li><a asp-controller="Home" asp-action="Index" asp-route-type="@NewBISReports.Models.REPORTTYPE.RPT_ANALYTICSMEALBIS"><span class="text">Tabela Refeições</span></a></li>
                                        <li><a asp-controller="Home" asp-action="Index" asp-route-type="@NewBISReports.Models.REPORTTYPE.RPT_TOTALMEALGRAPH"><span class="text">Dashboard Total Refeições</span></a></li>
                                        @if (defaultname == "solar")
                                        {
                                            <li><a asp-controller="Home" asp-action="Index" asp-route-type="@NewBISReports.Models.REPORTTYPE.RPT_TOTALMEAL"><span class="text">Total de Refeições</span></a></li>
                                            <li><a asp-controller="Home" asp-action="Index" asp-route-type="@NewBISReports.Models.REPORTTYPE.RPT_EXPORTMEAL"><span class="text">Exportar Refeições</span></a></li>
                                        }
                                    }
                                </ul>
                            </li>
                            }
                            <!-- Condicional para mostrar eventos Operacionais -->
                            @if( defaultname != "libraport"){
                            <li>
                                <a href="#" class="js-sub-menu-toggle">
                                    <i class="fa fa-navicon"></i><span class="text">Operacionais</span>
                                    <i class="toggle-icon fa fa-angle-left"></i>
                                </a>
                                <ul class="sub-menu ">
                                    @if (defaultname == "solar")
                                    {
                                        <li><a asp-controller="Excecao" asp-action="Index"><span class="text">Exceção</span></a></li>                                    
                                    }

                                    @if (defaultname == "orion")
                                    {
                                        <li><a asp-controller="Home" asp-action="Index" asp-route-type="@NewBISReports.Models.REPORTTYPE.RPT_COUNTBATH"><span class="text">Banheiro</span></a></li>
                                    }

                                    <li><a asp-controller="Home" asp-action="Index" asp-route-type="@NewBISReports.Models.REPORTTYPE.RPT_PHOTOS"><span class="text">Pessoas sem Fotografia</span></a></li>
                                    <li><a asp-controller="Home" asp-action="Index" asp-route-type="@NewBISReports.Models.REPORTTYPE.RPT_BADGES"><span class="text">Pessoas sem Crachá</span></a></li>
                                    <li><a asp-controller="Home" asp-action="Index" asp-route-type="@NewBISReports.Models.REPORTTYPE.RPT_BADGENOUSE"><span class="text">Tempo Sem Uso do Crachá</span></a></li>
                                </ul>
                            </li>
                            }
                            <li>
                                <a href="#" class="js-sub-menu-toggle">
                                    <i class="fa fa-columns"></i><span class="text">Administrativos</span>
                                    <i class="toggle-icon fa fa-angle-left"></i>
                                </a>
                                <ul class="sub-menu ">
                                    <li><a asp-controller="Home" asp-action="Index" asp-route-type="@NewBISReports.Models.REPORTTYPE.RPT_PERSONGENERAL"><span class="text">Pessoas</span></a></li>
                                    <li><a asp-controller="Home" asp-action="Index" asp-route-type="@NewBISReports.Models.REPORTTYPE.RPT_PERSONSPROFILES"><span class="text">Perfil das Pessoas</span></a></li>
                                    <li><a asp-controller="Home" asp-action="Index" asp-route-type="@NewBISReports.Models.REPORTTYPE.RPT_PERSONSAUTHORIZATIONS"><span class="text">Autorizações das Pessoas</span></a></li>
                                    <li><a asp-controller="Home" asp-action="Index" asp-route-type="@NewBISReports.Models.REPORTTYPE.RPT_READERAUTHORIZATION"><span class="text">Leitores por Autorizações</span></a></li>
                                    <li><a asp-controller="Home" asp-action="Index" asp-route-type="@NewBISReports.Models.REPORTTYPE.RPT_ALLLOCKOUT"><span class="text">Pessoas Bloqueadas</span></a></li>
                                    <li><a asp-controller="Home" asp-action="Index" asp-route-type="@NewBISReports.Models.REPORTTYPE.RPT_ALLVISITORS"><span class="text">Todos os Visitantes</span></a></li>                                                                
                                </ul>
                            </li>
                            <!-- Condicional para mostrar eventos de Visitantes -->
                            @if( defaultname != "libraport"){
                            <li>
                                <a href="#" class="js-sub-menu-toggle">
                                    <i class="fa fa-camera"></i><span class="text">Visitantes</span>
                                    <i class="toggle-icon fa fa-angle-left"></i>
                                </a>
                                <ul class="sub-menu">
                                    <li><a asp-controller="Home" asp-action="Index" asp-route-type="@NewBISReports.Models.REPORTTYPE.RPT_LOGQRCODE"><span class="text">QR Code dos Visitantes</span></a></li>
                                    <li><a asp-controller="ImportVisitor" asp-action="Index"  ><span class="text">Importar Visitantes</span></a></li>
                                </ul>
                            </li>
                            }
                        }                        
                    </ul>
                </nav>
                <!-- /main-nav -->
            </div>
        </div>
        <!-- END LEFT SIDEBAR -->
        <!-- MAIN CONTENT WRAPPER -->
        <div id="main-content-wrapper" class="content-wrapper ">
            <!-- main -->
            <div class="content">
                <div class="main-content">
                    @RenderBody()
                </div>
            </div>
            <!-- /main -->
            <!-- FOOTER -->
            <footer class="footer">
                &copy; 2019 Grupo Orion
            </footer>
            <!-- END FOOTER -->
        </div>
        <!-- END CONTENT WRAPPER -->
    </div>
    <!-- END WRAPPER -->
   

</body>

</html>