@model NewBISReports.Models.HomeModel

@{
    var color = @Model.WFM[0].Situacao == "1" ? "black" : "red";
}

<div class="widget widget-table">
    <div class="widget-header">
        <h3 style="color: black"><i class="fa fa-table"></i>Relatório</h3>
    </div>
    <div class="widget-content">
        <table id="tb" border="1" width="100%">
            <tr>
                <td align="center" width="20%"><b>Área WFM</b></td>
                <td align="center" width="80%" colspan="2"><b>Divisão BIS</b></td>
            </tr>
            <tr>
                <td align="center" width="20%">@Model.WFM[0].Site</td>
                <td align="center" width="80%" colspan="2">@Model.WFM[0].Divisao</td>
            </tr>
            <tr>
                <td align="center" width="20%"><b>RE</b></td>
                <td align="center" width="50%"><b>Nome</b></td>
                <td align="center" width="30%"><b>Empresa</b></td>
            </tr>
            <tr>
                <td align="center" width="20%">@Model.WFM[0].RE</td>
                <td align="center" width="50%">@Model.WFM[0].Nome</td>
                <td align="center" width="30%">@Model.WFM[0].Empresa</td>
            </tr>
            <tr>
                <td align="center" width="20%"><b>Situação</b></td>
                <td align="center" width="80%" colspan="2"><b>Descrição</b></td>
            </tr>
            <tr>
                <td align="center" width="20%">@Model.WFM[0].Situacao</td>
                <td align="center" width="80%" colspan="2" style="color: @color">@Model.WFM[0].Descricao</td>
            </tr>
            <tr>
                <td align="center" width="33%"><b>Entrada WFM</b></td>
                <td align="center" width="33%"><b>Entrada BIS</b></td>
                <td align="center" width="33%"><b>Saída BIS</b></td>
            </tr>
            <tr>
                <td align="center" width="33%">@Model.WFM[0].Entrada</td>
                <td align="center" width="33%">@Model.WFM[0].EntradaBIS</td>
                <td align="center" width="33%">@Model.WFM[0].SaidaBIS</td>
            </tr>
        </table>
    </div>
</div>