@using NewBISReports.Models.Classes;
@model NewBISReports.Models.HomeModel
@inject NewBISReports.Models.ArvoreOpcoes _arvoreOpcoes

@{
    var buttonname = "Excel";
    //definição de formato de data, tanto par ao código em C# quanto para o código em Javascript
    var dateFormatStringRazor = "";
    var dateFormatStringJs = "";
    var showHourMinute = true;
    var showMeridian = false;
    var showAccessGrantOption = false;
    switch (_arvoreOpcoes.FormatoDataHora)
    {
        case "pt-BR":
            dateFormatStringRazor = "dd/MM/yyyy HH:mm";
            dateFormatStringJs = "dd/mm/yyyy HH:ii";
            showMeridian = false;
            break;
        case "en":
            dateFormatStringRazor = "MM/dd/yyyy hh:mm tt";
            dateFormatStringJs = "mm/dd/yyyy HH:ii P";
            showMeridian = true;
            break;
        default:
            dateFormatStringRazor = "dd/MM/yyyy HH:mm";
            dateFormatStringJs = "dd/mm/yyyy HH:ii";
            break;
    }

    var startdate = Model != null && !String.IsNullOrEmpty(Model.StartDate) ? Model.StartDate.ToString() :
        DateTime.Now.ToString(dateFormatStringRazor);
    var enddate = Model != null && !String.IsNullOrEmpty(Model.EndDate) ? Model.EndDate.ToString() :
        DateTime.Now.ToString(dateFormatStringRazor);
    string labelPessoas = _arvoreOpcoes.PersonsLabel;
    REPORTTYPE type = REPORTTYPE.RPT_ANALYTICGRANTEDBIS;
    if (ViewBag.Type != null)
    {
        type = (REPORTTYPE)ViewBag.Type;
        //Diogo - retirar minutos do relatório de meall
        if (type == REPORTTYPE.RPT_ANALYTICSMEALBIS)
        {
            dateFormatStringRazor = dateFormatStringRazor.Substring(0, 10);
            dateFormatStringJs = dateFormatStringJs.Substring(0, 10);
            showHourMinute = false;

        }
    }
    //mostrar os radiobuttons de acessos garantidos/não permitidos apenas no analitico geral
    if (type == REPORTTYPE.RPT_ANALYTICGRANTEDBIS)
    {
        showAccessGrantOption = true;
    }
    var title = NewBISReports.Models.HomeModel.GetTypeDescription(type);
    var titlecomment = NewBISReports.Models.HomeModel.GetTypeComments(type);

    if (ViewBag.Persclassid == null)
    {
        ViewBag.Persclassid = new List<PersClasses>();
    }

    if (ViewBag.Persons == null)
    {
        ViewBag.Persons = new List<Persons>();
    }

    if (ViewBag.Clients == null)
    {
        ViewBag.Clients = new List<Clients>();
    }

    if (ViewBag.Devices == null)
    {
        ViewBag.Devices = new List<Devices>();
    }
}

<form method="post" asp-action="Index" data-parsley-validate novalidate>
    <input type="hidden" value="@startdate" id="hidData_Start" name="hidData_Start" />
    <input type="hidden" value="@enddate" id="hidData_End" name="hidData_End" />
    <input type="hidden" value="@type" id="Type" name="Type" asp-for="Type" />

    <div class="row">
        <div class="col-md-4 ">
            <ul class="breadcrumb">
                <li><i class="fa fa-home"></i><a href="#">Home</a></li>
                <li class="active">@title</li>
            </ul>
        </div>
    </div>

    <!-- QUADRO GERAL -->
    <div class="widget">
        <div class="widget-header">
            <h3><i class="fa fa-book"></i>@title</h3> <em>- @titlecomment</em>
            <div class="btn-group widget-header-toolbar">
                <a href="#" id="tour-focus" title="Destaque" class="btn-borderless btn-focus"><i
                        class="fa fa-eye"></i></a>
                <a href="#" title="Expand/Collapse" class="btn-borderless btn-toggle-expand"><i
                        class="fa fa-chevron-up"></i></a>
                <a href="#" title="Remove" class="btn-borderless btn-remove"><i class="fa fa-times"></i></a>
            </div>
        </div>
        <!-- PERÍODO -->
        <div class="row">
            <div class="col-sm-12">
                <div class="widget">
                    <div class="widget-content">
                        <div class="form-inline">
                            @if (type != REPORTTYPE.RPT_PHOTOS && type != REPORTTYPE.RPT_BADGES && type !=
                                REPORTTYPE.RPT_BADGENOUSE && type != REPORTTYPE.RPT_PERSONSAUTHORIZATIONS &&
                            type != REPORTTYPE.RPT_ALLLOCKOUT && type != REPORTTYPE.RPT_ALLVISITORS && type !=
                            REPORTTYPE.RPT_PERSONGENERAL && type != REPORTTYPE.RPT_COUNTBATH && type !=
                            REPORTTYPE.RPT_PERSONSAREA)
                            {
                                if (showHourMinute)
                                {
                                    <div class="form-group">
                                        <div class="input-group date form_datetime">
                                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                            <input class="form-control" size="16" type="text" name="StartDate"
                                                asp-for="StartDate" class="form-control" placeholder="Data Inicial" required>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="input-group date form_datetime">
                                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                            <input class="form-control" size="16" type="text" name="EndDate" asp-for="EndDate"
                                                class="form-control" placeholder="Data Final" required>
                                        </div>
                                    </div>
                                }
                                else
                                {
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                        <input type="text" id="StartDate" name="StartDate" asp-for="StartDate"
                                            class="form-control" placeholder="Data Inicial" required>
                                    </div>
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                        <input type="text" id="EndDate" name="EndDate" asp-for="EndDate" class="form-control"
                                            placeholder="Data Final" required>
                                    </div>
                                }

                                if (showAccessGrantOption)
                                {
                                    <div class="input-group">
                                        <div class="custom-control custom-checkbox mb-3">
                                            <input class="custom-control-input" id="grant" type="radio" asp-for="AccessType"
                                                value="4101" checked="checked">
                                            <label class="custom-control-label" for="grant">Acesso Permitido</label>
                                        </div>
                                    </div>
                                    <div class="input-group">
                                        <div class="custom-control custom-checkbox mb-3">
                                            <input class="custom-control-input" id="grant" type="radio" asp-for="AccessType"
                                                value="4112">
                                            <label class="custom-control-label" for="grant">Não Permitido</label>
                                        </div>
                                    </div>
                                }
                            }

                            @if (type == REPORTTYPE.RPT_PERSONSAREA)
                            {
                                <!-- INICIO AREAS-->
                                <fieldset>
                                    <div class="col-sm-12">

                                        <label>Áreas</label>
                                        <select multiple="multiple" asp-for="AREAID" class="select2 select2-multiple"
                                            name="AREAID"
                                            asp-items="@(new SelectList(ViewBag.Areas, "AREAID", "NAME"))"></select>
                                        <div class="custom-control custom-checkbox mb-3">
                                            <input class="custom-control-input" id="grant" type="checkbox"
                                                asp-for="ALLINSIDE" value="true">
                                            <label class="custom-control-label" for="grant">Todos dentro da unidade</label>
                                        </div>
                                    </div>
                                </fieldset>
                                <!-- FIM AREAS-->
                            }

                            @if (type == REPORTTYPE.RPT_BADGENOUSE)
                            {
                                <input type="text" id="NDays" name="NDays" asp-for="NDays" class="form-control"
                                    placeholder="N. de Dias sem Uso do Crachá" value="30" required>
                            }

                            @if (type == REPORTTYPE.RPT_TOTALMEAL || type == REPORTTYPE.RPT_EXPORTMEAL || type ==
                                REPORTTYPE.RPT_COUNTBATH)
                            {
                                @*Diogo - Conferir o ExecPage e o excel page abaixo*@
                                <button type="submit" name="exec" id="exec" asp-action="ExecPage"
                                    class="btn">Executar</button>
                            }
                                @if (type != REPORTTYPE.RPT_EXPORTMEAL && type != REPORTTYPE.RPT_COUNTBATH)
                            {
                                if (type == REPORTTYPE.RPT_PHOTOS)
                                {
                                    buttonname = "Gerar";
                                }
                                <button type="submit" name="excel" id="excel" asp-action="ExcelPage" class="btn"
                                    style="background-color: Green; color: White;">@buttonname</button>
                            }
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <!-- FIM PERÍODO -->
            <!-- INÍCIO DO CARD PESSOAS E UNIDADE -->
            <div class="row">
                @if (type == REPORTTYPE.RPT_ANALYTICGRANTEDBIS || type == REPORTTYPE.RPT_PERSONGENERAL || type ==
                REPORTTYPE.RPT_LOGQRCODE)
            {
                // @Html.Partial("IndexPessoas")
                <div class="col-sm-6">
                    <div class="widget widget-table">
                        <div class="widget-header">
                            <h3><i class="fa fa-home"></i>Pessoas/Visitantes</h3>
                            <button type="button" class="btn btn-link" data-toggle="tooltip" data-placement="top"
                                title="Informações das pessoas e/ou visitantes"><i
                                    class="fa fa-question-circle"></i></button>
                        </div>
                        <div class="widget-content">
                            <div class="row">
                                @if (type != REPORTTYPE.RPT_LOGQRCODE)
                                {
                                    <!-- INICIO TIPO PESSOA -->
                                    <fieldset>
                                        <div class="col-sm-12">
                                            <div class="form-group">
                                                <label>Tipo de Pessoa</label>
                                                <select id="selectPersonType" multiple="multiple" asp-for="PERSCLASSID"
                                                    class="select2 select2-multiple" name="PERSCLASSID"
                                                    asp-items="@(new SelectList(ViewBag.Persclassid, "PERSCLASSID", "DisplayTextCustomer"))"></select>

                                            </div>
                                        </div>
                                        <!-- FIM TIPO PESSOA -->
                                        <!-- INICIO EMPRESA -->
                                        <div class="col-sm-12">
                                            <label>Empresas</label>
                                            @if (ViewBag.Company != null)
                                            {
                                                <select multiple="multiple" asp-for="CompanyNO" class="select2 select2-multiple"
                                                    name="CompanyNO"
                                                    asp-items="@(new SelectList(ViewBag.Company, "CompanyNO", "Name"))"></select>
                                            }
                                            </div>
                                        </fieldset>
                                    <!-- FIM EMPRESA -->
                                }
                                <!-- INICIO PESSOA -->
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <fieldset id="searchTypeFieldSet">
                                        <div class="input-group">
                                            <label class="control-inline">
                                                @if (type != REPORTTYPE.RPT_LOGQRCODE)
                                                {
                                                    <input type="radio" asp-for="SearchPersonsType" name="SearchPersonsType"
                                                        checked value="@NewBISReports.Models.SEARCHPERSONS.SEARCHPERSONS_NAME">
                                                    <!-- customização - nomenclatura para pessoa-->
                                                    <span>@labelPessoas</span>
                                                }
                                                <input type="radio" asp-for="SearchPersonsType" name="SearchPersonsType"
                                                    value="@NewBISReports.Models.SEARCHPERSONS.SEARCHPERSONS_NAMEVISITOR">
                                                <span>Visitante</span>
                                                @if (type != REPORTTYPE.RPT_LOGQRCODE)
                                                {
                                                    <input type="radio" asp-for="SearchPersonsType" name="SearchPersonsType"
                                                        value="@NewBISReports.Models.SEARCHPERSONS.SEARCHPERSONS_PERSNO">
                                                    <span>Matrícula/CPF</span>
                                                }
                                                @if (_arvoreOpcoes.ShowDocumentSearch)
                                                {
                                                    <input type="radio" asp-for="SearchPersonsType" name="SearchPersonsType"
                                                        value="@NewBISReports.Models.SEARCHPERSONS.SEARCHPERSONS_PASSPORTNO">
                                                    <span>Documento</span>
                                                }
                                            </label>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <div class="input-group input-group-sm">
                                                    <input id="searchField" type="search" placeholder="pessoas/visitantes"
                                                        class="form-control">
                                                    <span class="input-group-btn">
                                                        <!--<button class="btn" name="srcname" asp-action="searchPersons" type="submit"><i class="fa fa-search"></i></button>-->
                                                        <button type="button" class="btn" onclick="SearchPersonAjax()">
                                                            <i class="fa fa-search"></i>
                                                        </button>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </fieldset>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    @* <select asp-for="PERSNO" class="select2" name="PERSNO"
                                        asp-items="@(new SelectList(ViewBag.Persons, "Persid", "Nome", 0))"></select> *@
                                    <select id="SelectPersonFilerResult" asp-for="PERSNO" class="select2"
                                        name="PERSNO"></select>
                                </div>
                                <!-- FIM PESSOA -->
                            </div>
                        </div>
                    </div>
                </div>
            }
            else if (type == REPORTTYPE.RPT_ANALYTICSMEALBIS)
            {
                @Html.Partial("IndexRefeicoes")
            }
                <!-- INÍCIO DO CARD UNIDADES -->

                @if (type != REPORTTYPE.RPT_PHOTOS && type != REPORTTYPE.RPT_BADGES && type != REPORTTYPE.RPT_BADGENOUSE &&
                @*type != REPORTTYPE.RPT_PERSONGENERAL && *@
                type != REPORTTYPE.RPT_LOGQRCODE && type != REPORTTYPE.RPT_COUNTBATH && type != REPORTTYPE.RPT_PERSONSAREA)
            {
                <div class="col-sm-6">
                    <div class="widget widget-table">
                        <div class="widget-header">
                            <h3><i class="fa fa-home"></i>Unidades</h3>
                            <button type="button" class="btn btn-link" data-toggle="tooltip" data-placement="top"
                                title="Informações das divisões e leitoras"><i class="fa fa-question-circle"></i></button>
                        </div>
                        <div class="widget-content">
                            <div class="row">
                                <!-- INICIO UNIDADE -->
                                <fieldset>
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <div class="input-group input-group-sm">
                                                <label>Unidade:</label>
                                            </div>
                                            @*Diogo - Trocar o submit por uma chamada ajax no backend, mas apenas se o
                                                elemento de devices for caregado igual ao post do Index*@
                                            @* <select asp-for="CLIENTID" class="select2" name="CLIENTID"
                                                asp-controller="Home"
                                                asp-action="Index" onclick="form.submit();" asp-items="@(new
                                                SelectList(ViewBag.Clients, "CLIENTID",
                                                "Description"))"></select> *@
                                            <select id="SearchClientId" asp-for="CLIENTID" class="select2" name="CLIENTID"
                                                onclick="SearchDevicesAjax()" asp-items="@(new SelectList(ViewBag.Clients, "CLIENTID",
                                                           "Description"))"></select>
                                        </div>
                                    </div>

                                </fieldset>
                                <!-- FIM UNIDADE -->
                                @if (type == REPORTTYPE.RPT_ANALYTICGRANTEDBIS)
                                {
                                    <!-- INICIO DEVICES-->
                                    <fieldset>
                                        <div class="col-sm-12">

                                            <label>Leitora de Acesso</label>
                                            <select id="SelectDeviceFilerResult" multiple="multiple" asp-for="DEVICEID"
                                                class="select2 select2-multiple" name="DEVICEID"
                                                asp-items="@(new SelectList(ViewBag.Devices, "ID", "DESCRIPTION"))"></select>
                                        </div>
                                    </fieldset>
                                    <!-- FIM DEVICES-->
                                }
                                @if (type == REPORTTYPE.RPT_PERSONSAUTHORIZATIONS || type ==
                                    REPORTTYPE.RPT_READERAUTHORIZATION)
                                {
                                    <!-- INICIO AUTORIZAÇÕES-->
                                    <fieldset>
                                        <div class="col-sm-12">

                                            <label>Autorizações</label>
                                            <select multiple="multiple" asp-for="AUTHID" class="select2 select2-multiple"
                                                name="AUTHID"
                                                asp-items="@(new SelectList(ViewBag.Authorizations, "AuthID", "Shortname"))"></select>
                                        </div>
                                    </fieldset>
                                    <!-- FIM AUTORIZAÇÕES-->
                                }
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
        <!-- FIM DO CARD UNIDADES-->

    </div>
    <!-- FIM QUADRO GERAL -->

    @if (@Model != null && @Model.Meals != null)
    {
        @Html.Partial("IndexPivot");
    }

        @if (type == REPORTTYPE.RPT_COUNTBATH && @Model != null && @Model.Acessos != null)
    {
        @Html.Partial("IndexCount");
    }
    </form>

    <div class="modal fade" id="mdAlertas" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">,
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Mensagem:</h4>
                </div>
                <div class="modal-body">
                    <h3>@ViewBag.MensagemErro </h3>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                </div>
            </div>
        </div>
    </div>


    <!-- Javascript Mínimo -->
    <script src="~/KingAdmin/assets/js/jquery/jquery-2.1.0.min.js"></script>
    <script src="~/KingAdmin/assets/js/bootstrap/bootstrap.js"></script>
    <script src="~/KingAdmin/assets/js/plugins/modernizr/modernizr.js"></script>
    <script src="~/KingAdmin/assets/js/plugins/bootstrap-tour/bootstrap-tour.custom.js"></script>

    <!-- Javascript Datepicker -->
    <script src="~/KingAdmin/assets/js/plugins/jquery-slimscroll/jquery.slimscroll.min.js"></script>
    <script src="~/KingAdmin/assets/js/king-common.js"></script>
    <script src="~/KingAdmin/assets/js/plugins/bootstrap-multiselect/bootstrap-multiselect.js"></script>
    <script src="~/KingAdmin/assets/js/plugins/bootstrap-datetimepicker/bootstrap-datetimepicker.js"></script>
    <script src="~/KingAdmin/assets/js/plugins/bootstrap-datepicker/bootstrap-datepicker.js"></script>
    <script src="~/KingAdmin/assets/js/plugins/bootstrap-datetimepicker/locales/bootstrap-datetimepicker.pt-BR.js"></script>
    <script src="~/KingAdmin/assets/js/plugins/select2/select2.min.js"></script>

    <!-- JQUERY -->

    @if (@ViewBag.MensagemErro != null)
{

    <script type="text/javascript">
        window.onload = function () {
            $('#mdAlertas').modal('show');
        };
    </script>
}

<script type="text/javascript">
    $(document).ready(function () {

        //detecta qual elemento deve usar: data ou data e hora
        let showhourMinte = '@showHourMinute';

        //seleciona datetime picker ou datepicker conforme a necessidade
        if (showhourMinte === 'True') {
            $('.form_datetime').datetimepicker({
                language: '@_arvoreOpcoes.FormatoDataHora',
                format: '@dateFormatStringJs',
                mask: true,
                todayBtn: 1,
                autoclose: true,
                todayHighlight: 1,
                startView: 2,
                forceParse: true,
                showMeridian: '@showMeridian'
            });
        } else {
            $('#StartDate').datepicker({
                language: '@_arvoreOpcoes.FormatoDataHora',
                format: '@dateFormatStringJs',
                todayBtn: 'linked',
                autoclose: true,
                todayHighlight: true,
                startView: 0,
                forceParse: true
            });
            $('#EndDate').datepicker({
                language: '@_arvoreOpcoes.FormatoDataHora',
                format: '@dateFormatStringJs',
                todayBtn: 'linked',
                autoclose: true,
                todayHighlight: true,
                startView: 0,
                forceParse: true
            });
        }

        //define o tipó de busca de pessoas padrão
        window.SearchTypeValue = $('#searchTypeFieldSet input:radio').val();
    });
</script>

<script type="text/javascript">
    //lidar com a pesquisa de pessoas via ajax
    $('#searchTypeFieldSet input:radio').on('change', function () {
        window.SearchTypeValue = $(this).val();
    });

    //função de pesqusia de leitoras no back-end

    function SearchDevicesAjax() {

        //testa se a selectlist dos devices existe, senão, retorna
        if (!($('#SelectDeviceFilerResult').length)) {
            debugger
            return;
        }
        //determina qual clientId foi selecionado
        let SelectedClientId = $('#SearchClientId').val();

        //cria o objeto de retorno
        let SearchParameterObj = {
            "ClientId": SelectedClientId
        }

        //faz a chamada síncriona do ajax
        $.ajax({
            url: window.SearchDevices,
            type: 'POST',
            async: false,
            contentType: 'application/json',
            data: JSON.stringify(SearchParameterObj),
            dataType: 'json',
            success: function (response) {
                debugger;
                //determinar se houve algum resultado
                if (response.length > 0) {
                    //limpa a selectlist atual
                    $('#SelectDeviceFilerResult').val(null);
                    //iterar entre os itens do array                
                    for (let i in response) {

                        //constrói um item de selectlist
                        let newOption = new Option(response[i].description, response[i].id, false, false);

                        //e adiciona ao selectlist de pessoas                    
                        $('#SelectDeviceFilerResult').append(newOption);
                    }
                }
            }
            //todo error
        }).then(function () {
            //re-desenha a selectlist
            $('#SelectDeviceFilerResult').trigger('change');
        });
    }


    //funçaõ de pesquisa de pessoas/documentos no backend
    function SearchPersonAjax() {
        //determina o tipo de busca:
        let SearchType = window.SearchTypeValue;

        //recupera o nome do campo de busca
        let SearchField = $('#searchField').val();

        //recupera o array de tipos de pessoas
        let PersClassArray = [];
        let SelectedPerClass = $('#selectPersonType').val();
        if (SelectedPerClass !== null) {
            PersClassArray = SelectedPerClass;
        }


        //cria o objeto de retorno
        let SearchParameterObj = {
            "searchField": SearchField,
            "PersClassIdArray": PersClassArray,
            "SearchTypeString": SearchType
        }

        //faz a chamada síncriona do ajax
        $.ajax({
            url: window.SearchPersons,
            type: 'POST',
            async: false,
            contentType: 'application/json',
            data: JSON.stringify(SearchParameterObj),
            dataType: 'json',
            success: function (response) {
                //determinar se houve algum resultado
                if (response.length > 0) {
                    //limpa a selectlist atual
                    $('#SelectPersonFilerResult').val(null);
                    //iterar entre os itens do array                
                    for (let i in response) {

                        //constrói um item de selectlist
                        let newOption = new Option(response[i].nome, response[i].persid, false, false);

                        //e adiciona ao selectlist de pessoas                    
                        $('#SelectPersonFilerResult').append(newOption);
                    }
                }
            }
            //todo error
        }).then(function () {
            //re-desenha a selectlist
            $('#SelectPersonFilerResult').trigger('change');
        });

    }
</script>
