@model NewBISReports.Models.HomeModel

@{
    var color = @Model.WFM[0].Situacao == "1" ? "black" : "red";
}

<input type="hidden" asp-for="PERSID" value="@Model.PERSID" />
<div class="widget widget-table">
    <div class="widget-header">
        <h3 style="color: black"><i class="fa fa-table"></i>Relatório</h3>
    </div>
    <div class="widget-content">
        <table id="tb" border="1" width="100%">
            <tr>
                <td align="center" width="20%"><b>Área WFM</b></td>
                <td align="center" width="80%" colspan="2"><b>Divisão BIS</b></td>
            </tr>
            <tr>
                <td align="center" width="20%">@Model.WFM[0].Site</td>
                <td align="center" width="80%" colspan="2">@Model.WFM[0].Divisao</td>
            </tr>
            <tr>
                <td align="center" width="20%"><b>RE</b></td>
                <td align="center" width="50%"><b>Nome</b></td>
                <td align="center" width="30%"><b>N. Cartão</b></td>
            </tr>
            <tr>
                <td align="center" width="20%">@Model.WFM[0].RE</td>
                <td align="center" width="50%">@Model.WFM[0].Nome</td>
                <td align="center" width="30%">@Model.WFM[0].cardno</td>
            </tr>
            <tr>
                <td align="center" width="20%"><b>Situação</b></td>
                <td align="center" width="80%" colspan="2"><b>Descrição</b></td>
            </tr>
            <tr>
                <td align="center" width="20%">@Model.WFM[0].Situacao</td>
                <td align="center" width="80%" colspan="2" style="color: @color">@Model.WFM[0].Descricao</td>
            </tr>
            <tr>
                <td align="center" width="33%"><b>Entrada WFM</b></td>
                <td align="center" width="33%"><b>Entrada BIS</b></td>
                <td align="center" width="33%"><b>Saída BIS</b></td>
            </tr>
            <tr>
                <td align="center" width="33%">@Model.WFM[0].Entrada</td>
                <td align="center" width="33%">@Model.WFM[0].EntradaBIS</td>
                <td align="center" width="33%">@Model.WFM[0].SaidaBIS</td>
            </tr>
        </table>
    </div>
</div>

<!--<div class="widget widget-table">
    <div class="widget-header">
        <h3 style="color: black"><i class="fa fa-table"></i>Alteração da Unidade</h3>
    </div>
    <div class="widget-content">
        <div class="row">
            <!--INICIO-CAMPO-UNIDADE-->
            <!--<div class="col-sm-6">
                <label class="control-label"> Unidade</label>
                <select id="selectUnity" class="select2" asp-for="CLIENTID">
                    @if (Model.Clients != null)
                    {
                        @foreach (var Unidade in Model.Clients)
                        {
                            var selected = Unidade.CLIENTID.Equals(Model.CLIENTID) ? "selected" : "";
                            @Html.Raw(String.Format("<option value=\"{0}\" {1}>{2}</option>", Unidade.CLIENTID, selected, Unidade.NAME))
                        }
                    }
                </select>
            </div>-->
            <!--FIM-CAMPO-UNIDADE-->
        <!--</div>
        <br />
        <div class="row">-->
            <!--INICIO-CAMPO-MATRICULA-->
            <!--<div class="col-sm-3">
                <input asp-for="USERRE" type="text" id="RE" class="form-control" placeholder="Matricula/RE" maxlength="16" required="required" oninput="setCustomValidity('')" oninvalid="this.setCustomValidity('Digite a Matricula/RE Válida')">
            </div>-->
            <!--FIM-CAMPO-MATRICULA-->
            <!--INICIO CAMPO SENHA-->
            <!--<div class="col-sm-3">
                <input asp-for="USERPASSWORD" type="password" placeholder="senha" id="NAME" class="form-control" required="required" oninput="setCustomValidity('')" oninvalid="this.setCustomValidity('Preencher o Nome/Sobrenome')">
            </div>-->
            <!-- FIM CAMPO SENHA -->
            <!--<div class="col-sm-3">
                <button type="submit" name="excel" id="excel" asp-action="ExcelPage" class="btn"
                        style="background-color: red; color: White;">
                    Alterar
                </button>
            </div>
        </div>

    </div>-->
@*</div>*@-->